.u-section-1 {
  min-height: 860px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 858px;
  margin-top: 1px;
  margin-bottom: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}