.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 85px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 901px;
  margin: 17px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -15px;
    margin-right: -15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1920px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  margin: -4124px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.2;
  margin: 4119px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.2;
  margin: -24px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 0 570px 0 16px;
}

.u-section-2 .u-text-5 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: -570px 0 0 612px;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 103px 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 12px 628px 0 16px;
}

.u-section-2 .u-text-8 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: -40px 25px 0 579px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 362px;
  margin: 14px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 512px;
  height: 395px;
  margin: -362px auto 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 57px 523px 0 16px;
}

.u-section-2 .u-image-3 {
  height: 307px;
  margin-top: 10px;
  margin-bottom: 27px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1945px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -665px;
    margin-right: 27px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 96px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-right: 518px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 480px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 298px;
    margin-top: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 422px;
    height: 326px;
    margin-top: -298px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 9px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2602px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 365px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -836px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 425px;
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 568px;
    height: 331px;
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 507px;
    height: 391px;
    margin-top: -775px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 423px;
  }

  .u-section-2 .u-image-3 {
    height: 194px;
    margin-top: 14px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3006px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 14px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 432px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 315px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -779px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 424px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3684px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 4084px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 44px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 304px;
  }

  .u-section-2 .u-image-1 {
    height: 208px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 262px;
    margin-top: -562px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 336px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 18px;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 30px 509px 0 30px;
}

.u-section-3 .u-image-1 {
  width: 1101px;
  height: 249px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  margin: 43px 18px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 213px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 119px;
  }

  .u-section-3 .u-image-1 {
    height: 163px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 123px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 883px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  margin: 18px 18px 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  margin: 18px 18px 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  margin: 18px 238px 0 18px;
}

.u-section-4 .u-text-4 {
  font-size: 0.75rem;
  margin: 33px 18px 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 71px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 714px;
  margin: 14px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 830px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 714px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: -25px;
    margin-right: -25px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 57px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 17px 14px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 51px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 16px 367px 16px 18px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 185px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 368px;
}

.u-section-8 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 90px;
  }
}.u-section-9 .u-image-1 {
  min-height: 586px;
  background-image: url("images/state_and_national_outcomes.png");
  background-position: 0% 50%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    min-height: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    min-height: 180px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 2309px;
}

.u-section-10 .u-text-1 {
  font-size: 0.75rem;
  margin: 18px 18px 0;
}

.u-section-10 .u-text-2 {
  font-size: 0.75rem;
  margin: 18px 18px 0;
}

.u-section-10 .u-text-3 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 18px 506px 0 33px;
}

.u-section-10 .u-image-1 {
  width: 640px;
  height: 618px;
  margin: 9px auto 0 59px;
}

.u-section-10 .u-text-4 {
  font-size: 0.75rem;
  margin: 33px 18px 0;
}

.u-section-10 .u-text-5 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 9px 506px 0 33px;
}

.u-section-10 .u-image-2 {
  width: 570px;
  height: 230px;
  margin: 31px auto 0 59px;
}

.u-section-10 .u-text-6 {
  font-size: 0.75rem;
  margin: 20px 18px 0;
}

.u-section-10 .u-text-7 {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 20px 506px 0 33px;
}

.u-section-10 .u-image-3 {
  width: 570px;
  height: 111px;
  margin: 9px auto 0;
}

.u-section-10 .u-image-4 {
  width: 570px;
  height: 506px;
  margin: 17px -20px 0 auto;
}

.u-section-10 .u-image-5 {
  width: 570px;
  height: 758px;
  margin: -506px auto 9px -22px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2222px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-10 .u-image-3 {
    width: 504px;
    height: 98px;
    margin-top: 16px;
  }

  .u-section-10 .u-image-4 {
    width: 446px;
    height: 397px;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-10 .u-image-5 {
    width: 455px;
    height: 604px;
    margin-top: -397px;
    margin-bottom: 33px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 119px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 119px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 119px;
  }

  .u-section-10 .u-image-3 {
    width: 411px;
    height: 73px;
    margin-top: 18px;
  }

  .u-section-10 .u-image-4 {
    width: 342px;
    height: 300px;
    margin-top: 20px;
  }

  .u-section-10 .u-image-5 {
    width: 360px;
    height: 479px;
    margin-top: -300px;
    margin-bottom: 19px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2791px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 521px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 218px;
    margin-left: 0;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    width: 507px;
    height: 91px;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-10 .u-image-4 {
    width: 507px;
    height: 451px;
    margin-top: 669px;
  }

  .u-section-10 .u-image-5 {
    width: 507px;
    height: 669px;
    margin: -1121px 0 470px auto;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2360px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 328px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 137px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 61px;
  }

  .u-section-10 .u-image-4 {
    height: 303px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-5 {
    height: 453px;
    margin-top: 0;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 69px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 714px;
  margin: 12px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    width: 830px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 714px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 25px;
}

.u-section-12 .u-text-1 {
  margin: 0 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 496px;
}

.u-section-13 .u-custom-html-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 120px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 70px;
}

.u-section-14 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 714px;
  margin: 14px auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    width: 830px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    width: 714px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    width: 340px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 642px;
}

.u-section-15 .u-text-1 {
  font-size: 0.75rem;
  margin: 21px 18px 0;
}

.u-section-15 .u-image-1 {
  width: 570px;
  height: 449px;
  margin: 18px auto 0;
}

.u-section-15 .u-text-2 {
  font-size: 0.75rem;
  margin: 18px 18px 10px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-15 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 268px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 167px;
}

.u-section-16 .u-custom-html-1 {
  margin-bottom: 60px;
}