.u-section-1 {
  min-height: 918px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 858px;
  margin: 0 calc(((100% - 1140px) / 2) + 80px) 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}