.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 161px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 772px;
  margin: 28px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 734px;
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 296px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 23px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 756px;
}

.u-section-3 .u-text-1 {
  width: 730px;
  margin: 15px auto 0;
}

.u-section-3 .u-image-1 {
  width: 1023px;
  height: 561px;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: -530px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -317px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 186px;
  }
}