.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 161px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 772px;
  text-transform: none;
  font-size: 3rem;
  margin: 28px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 734px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin: 12px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 296px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 23px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 756px;
}

.u-section-3 .u-text-1 {
  width: 730px;
  margin: 15px auto 0;
}

.u-section-3 .u-image-1 {
  height: 624px;
  margin-bottom: 35px;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-image-1 {
    height: 505px;
    margin-bottom: 0;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-text-1 {
    width: 565px;
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    height: 410px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-image-1 {
    height: 314px;
    margin-bottom: 32px;
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 195px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}