.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 71px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 901px;
  margin: 14px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}