.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 687px;
  margin-top: 27px;
  margin-bottom: 60px;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 607px;
  }
}