.u-section-1 .u-sheet-1 {
  min-height: 94px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 21px;
  margin-top: 21px;
}.u-section-2 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-2 .u-image-1 {
  height: 990px;
  margin-top: 5px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 922px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }
}